<div class="container-fluid">
  <h1><%= @post.title %></h1>
  <p><%= @post.description %></p>

  <% if user_signed_in? %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %> | 
    <%= link_to "Delete", post_path(@post), class: "btn btn-primary", data: { method: :delete, confirm: "Are you sure?" } %><br><br>
  <% else %>
    <% flash.now[:alert] = "" %>
  <% end %>
  


  <h2>Comments</h2>
  <%= render @post.comments %><br><br>

  <% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  <% else %>
    <% flash.now[:alert] = "" %>
  <% end %>
</div>